langchain
langchain-groq
faiss-cpu
tiktoken
langchain_community
langchain_openai
chromadb
sentence-transformers
python-dotenv
pypdf
python-docx
docx2txt
unstructured
langchain_core
langchain_huggingface